*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;      /* normal | italic | oblique */
  font-weight: 400;        /* normal, bold, 100–900 */
#menu-principal {
  background-color: #111827;
  color: white;
}
<nav id="menu-principal">
  ...
</nav>
margin: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #696969;
font-size: 16px;
}
.start {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#708090;
    color:black;
}
header {
    background: linear-gradient(to right, #696969, #696969);
padding: 20px;
color: crimson;
}
header h1{
    margin: 0;
}
nav{
    margin-top: 10px;
    display: flex;
}
nav a{
    color: white;
    text-decoration: underline;
    margin-right: 5px;
}
main{
    padding: 20px;
}
.presentation{
    background: #708090;
    padding: 20px;
    border: 2px;
}
.perfil{
    margin-top: 15px;
}
.perfil img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: 4px;
}
.sobre mi{
    margin-top: 20px;
}
h2, h3{
    margin-top: 20px;
}
p{
font-size: 15px;
color:2d6fbf;
font-family:Arial, Helvetica, sans-serif ;
}
#mi-id {
    font-size: large;
}
.start {
    background-color: #669abc;
}
.mi-foto{
    width: 15px;
}
body .card .card-title {
  color: aquamarine;
}

#principal .nota p {
  text-transform: capitalize;
}
.caja {
    display: inline-block;
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  margin: 20px auto;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
p {
  color: #111827;              /* color del texto */
  background-color: #e5e7eb;   /* color de fondo */
}
h1 {
  text-align: justify;          /* left | right | center | justify */
}
.card {
    width: 300px;
    border:2px solid #0f0f0f;
    padding: 20px;
    margin: 30px auto;
    display:block;
    text-align:center;
}
body {
  color: blue;
}

span {
  color: black;
}
.main-heading {
  color: rgb(240, 220, 0);
}

h1 {
  color: blue;
}
p {
  color: blue;
}

.destacado {
  color: green !important;
}

#unico {
  color: red;
}
body {
  font-family:'outfit', cursive;
}
body {
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
}
.contenedor {
    position: static;
}

.badge {
    position: absolute;
    left: 8px;
    right: 8px;
}




