
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  background-color: #696969;
  color: #111827;
}


header {
  background: #696969;
  padding: 20px;
  color: rgb(7, 7, 7);
}

header h1 {
  margin: 0;
  text-align: center;
}


#menu-principal {
  background-color: #111827;
  color: white;
  padding: 10px;
}

nav {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


main {
  padding: 20px;
}


.presentation {
  background-color: #708090;
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 20px;
}


.perfil {
  margin-top: 15px;
  text-align: center;
}

.perfil img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
}


h2,
h3 {
  margin-top: 20px;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


.caja {
  display: inline-block;
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  margin: 20px auto;
  background-color: #f2f2f2;
}


.card {
  position: relative;
  width: 400px;
  padding: 30px;
  border: 3px solid #020202;
  border-radius: 10px;
  margin: 40px auto;
  background-color: #9409b0;
  text-align: center;
  color: white;
}


.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: darkgoldenrod;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
}


.btn-float {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #93ed0b;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.Flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 20px;
  border: 2px solid rgb(18, 17, 17);
  background-color: #d20d0d;
}
.item-flex {
  width: 120px;
  height: 120px;
  padding: 20px;
  margin: 10px;
  background-color:#188b91;
  border: 1px solid black;
  text-align: center;
}
.destacado {
  color: green;
}

#unico {
  color: red;
}

.main-heading {
  color: rgb(240, 220, 0);

}
