body {

margin: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #696969;
}

header {
    background: linear-gradient(to right, #696969, #696969);
padding: 20px;
}
header h1{
    margin: 0;
}
nav{
    margin-top: 10px;
    display: flex;
}
nav a{
    color: white;
    text-decoration: underline;
    margin-right: 5px;
}
main{
    padding: 20px;
}
.presentation{
    background: #708090;
    padding: 20px;
    border: 2px;
}
.perfil{
    margin-top: 15px;
}
.perfil img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px; solid #0033cc;
}
.sobre mi{
    margin-top: 20px;
}
h2, h3{
    margin-top: 20px;
}

